body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(230, 230, 230);
}

.page{
  margin-left: 11rem;
}

.header {
  color: rgb(39, 39, 39);
  margin-top: 30px;
}


.header__title{
  font-size: 20px;
}

.header__nav {
display: flex;
justify-content: center;
 color: rgb(54, 54, 54);
 width: 25rem;
 padding: 0.5rem 0;
 margin-top: 3rem;
 display: flex;
 gap: 5px;
 background: white;
 border-radius: 10px;
}

.header__button{
  padding: 10px 15px;
  background: white;
  border: none;
  border-radius: 10px;
}

.header__button:hover{
  background: rgb(224, 224, 224)
}

.header__button:active{
  background: rgb(37, 93, 235);
  color: white;
}

.header__link {
  color: rgb(88, 88, 88);
  text-decoration: none;
  font-size: 14px;
}

.dashboard{
  margin-top: 2rem;
  background: white;
}

.dashboard__summary{
  display: flex;
  gap: 1rem;
}

.summary__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  width: 13rem;
  height: 6rem;
  color: white;
  border-radius: 0.4rem;
  padding-left: 1rem;
}

.summary__item--income{
  background: linear-gradient(to left, #1552c4, #3e77ce);
}

.summary__item--expenses{
  background: linear-gradient(to left, #dc2626, #cf3d3d);
}

.summary__item--balance{
  background: linear-gradient(to left, #25ca0c, #3dcf53);
}

.summary__item--budget{
  background: linear-gradient(to left, #8e0cca, #944ebd);
}

.budget-data{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto;
}